:root {
  --dark-purple: #27152a;
  --eminence: #62246e;
  --anil-blue: #2ba3da;
  --palatinate-blue: #2b3bda;
  --risd-blue: #3e5cee;
  --resolution-blue: #372d86;
  --sunglow: #fecc27;
  --white: #ffffff;
  --silver: #cbcbcb;
}

body {
  background-color: var(--silver);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container */
.container {
  background: linear-gradient(to bottom, var(--dark-purple), var(--eminence));
  width: 90%;
  max-width: 700px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Título/Texto */
h1 {
  color: var(--sunglow);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 26px;
  margin-top: 0;
}

h2 {
  color: var(--white);
  font-weight: 400;
  font-size: 22px;
  margin: 5px 0 0 0;
}

p {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
}

a {
  color: var(--white);
  font-size: 12px;
  text-decoration: none;
}

/* Container Interno */
.container-int {
  background: linear-gradient(to top, var(--dark-purple), var(--eminence));
  border-radius: 5px;
  padding: 10px 0;
  margin-top: 30px;
}

input {
  width: 80%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  margin-top: 22px;
}

article {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 28%;
  margin-top: 26px;
  background-color: var(--palatinate-blue);
  background: linear-gradient(
    to top,
    var(--resolution-blue),
    var(--palatinate-blue)
  );
  padding: 10px 5px;
  border-radius: 5px;
}

.card-icon {
  background: linear-gradient(to top, var(--anil-blue), var(--risd-blue));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

object {
  max-width: 120px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: var(--dark-purple);
  color: var(--white);
  border-radius: 3px;
}

/* Responsividade */
@media (max-width: 600px) {
  article {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    margin-top: 20px;
  }

  .card-icon {
    margin: 10px;
    padding: 30px 0 10px 0;
  }

  object {
    max-width: 150px;
    margin: 20px 0;
  }

  button {
    padding: 15px 40px;
  }
}
